

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.btn{
  margin-top:40%;
  font-size: 32px;
  width: 250px;
  height: 120px;
  font-style: italic;
}

.logo{
  color: #337ab7;
}

.sfondo{
  //background-image: url('../img/sfondo.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 700px;
}

/* mappa */

#map {
  position: relative;
  min-height: 490px;
  width: 100%;
  margin-button:30px;

}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  margin-top: 10px;
  float:center;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

#spanCheckOk{
  visibility: hidden;
}
#spanCheckNo{
  visibility: hidden;
}

a.bottone{
  visibility: hidden;
}

.quantity-products{
  width: 80px;
}
/*
a.bottoneProd{
  visibility: hidden;
}
*/
.tabella{
  max-height: 420px;
  overflow-y: scroll;
  border: #dbdbdb 1px solid;
  border-radius: 5px;
}

.total{
  float: right;
  margin-right: 130px;
}

.bread-total ol{
  margin-top: 3%;
  height: 40px;
}

.total-drone{
  //background-color: url('../img/drone-ico.png');
  height: 20px;
  width: 20px;
}
.drones{
  float: left;
}

/* menu laterale */

.menu li{
  height: 100px;
  width: 100%;
}

.menu p{
  font-size: 20px;
  text-align: center;
  color: #bababa;
}

.menu span{
  height: 50px;
  width: 50px;
  margin-left: 40%;
  color:#bababa;
}

.primo-li li{
  padding-top: 20%;
}

.ombra li{
  background-color: #111111;

}

.ombra p{
  text-shadow: 0 0 25px #bababa;
  color: #337ab7;
}

.ombra span{
  text-shadow: 0 0 25px #337ab7;
  color: #337ab7;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .menu span{
    height: 50px;
    width: 50px;
    margin-left: 48%;
    color:#bababa;
  }
  .primo-li li{
    padding-top: 25px;
  }
}